html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(cyan, rgb(40, 110, 250));
    background-repeat: no-repeat;
    font-family: Verdana;
    text-align: center;
}


h1 {
    color: beige;
    background-color: rgb(40, 110, 250);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 25px;
}

p {
    margin-left: 100px;
    margin-right: 100px;
}

table{
    border: 1px solid;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

td {
    padding: 5px;
    border: 1px solid;
}