body {
    background-color: navajowhite;
    font-family: Verdana;
    text-align: center;
}

h1 {
    color: beige;
    background-color: rgb(40, 110, 250);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 25px;
}